.env
.env.*
node_modules/
.next/
out/
build/
.gradle/
.project
.settings/
.classpath
bin/
*.class
*.log
.DS_Store
# backend/upload/ (메뉴 이미지 동기화를 위해 주석 처리 혹은 삭제)
*:Zone.Identifier
docker-compose.override.yml
